useDynLib(MVR, .registration=TRUE)

export(MVR.news, 
       mvr,
       mvrt.test,
       cluster.diagnostic,
       target.diagnostic,
       stabilization.diagnostic,
       normalization.diagnostic)

import("parallel", "statmod")
import("graphics")
import("grDevices")
import("methods")
import("stats")